@import "./variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-primary);

}

h1{
    font-family: var(--font-family);
    color: var(--txt-primary);
    font-size: var(--fontSize-primary);
}

p, h2{
    font-family: var(--font-family);
}

p {
    color: var(--txt-secundary);
    font-size: var(--fontSize-details);
    font-weight: bold;
}

h2{
    color: var(--txt-primary);
    font-size: var(--txt-secundary);
    font-weight: 400;
}