
.post {
  display: grid;
  grid-template-columns: 120px 1fr 220px;
  gap: 20px;

  background: var(--cards-primary);
  padding: 20px;
  border-radius: 20px;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.meta {
  text-align: center;
  font-size: 14px;
}

.center{
  height: 100%;
}

.center h2 {
  margin: 20px;
  font-size: 28px;
}

.center p {
  margin-top: 8px;
  line-height: 1.4;
}

.preview img {
  width: 100%;
  border-radius: 12px;
}

.link {
  width: 100%; 
    background-color: var(--txt-secundary);
  color: white;
  padding: 5px 10px;
  border-radius: 0 0 8px 8px;
  font-size: 12px;
}