.topbar {
    background: var(--cards-primary);
    color: var(--txt-primary);
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px solid var(--border-primary);
    box-shadow: var(--shadow-soft);
}
