/* UserHeader.css */
@import "../../../../styles/global.css";

.header {
  background: var(--cards-primary);
  border-radius: 0 0 20px 20px;
  padding: 32px;
  display: flex;
  gap: 24px;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
}

.photo img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* border: red 1px solid; */
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top h1 {
  font-size: var(--fontSize-primary);
  margin: 0;
  color: var(--txt-primary);
}

.top h2 {
  font-size: var(--fontSize-secundary);
  margin: 4px 0 0;
  color: var(--txt-primary);
}

.edit-btn {
  border: none;
  background-color: var(--txt-secundary);
  color: var(--txt-primary);
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 30px;
  font-size: var(--fontSize-secundary);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
}

.user-meta {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.user-meta p {
  margin: 0;
}

.user-meta a {
  font-size: 0.9rem;
  color: var(--txt-secundary);
  font-weight: bold;
  text-decoration: none;
}

.gallery {
  /* border: blue 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 30px;
  gap: 12px;
}

.gallery p {
  white-space: nowrap;
}

.images {
  display: flex;
  gap: 8px;
}

.images img {
  width: 55px;
  height: 55px;
  border-radius: 6px;
  object-fit: cover;
}
